*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

label {
  user-select: none;
}

:focus-visible {
  outline-offset: 4px;
  outline-color: 1px var(--color-brand);
}
